@font-face {
    font-family: Avant garde;
    src: url(./avant_garde_font/ITCAvantGardeStd-DemiCnObl.otf) format('opentype');
}

@font-face {
    font-family: Doc-porn;
    src: url(./Doc-Porn-trial.ttf) format('truetype');
}

@font-face {
    font-family: Misto;
    src: url(./Misto.otf) format('opentype');
}

@font-face {
    font-family: Sora;
    src: url(./sora/Sora-Light.ttf) format('truetype');
}

@font-face {
    font-family: Halyard-Display;
    src: url(./Halyard-Display.otf) format('opentype');
}