<video id="video" #video class="overlay" autoplay loop >
  <source type="video/mp4" src="../assets/146.mp4" />
  <!-- <source type="video/mp4" src="../assets/veil.mp4" /> -->
</video>
<div class="home-wrapper">
  <nav>
    <ul class="navbar-list">
      <li class="navbar-item" (click)="toProjects()"></li>
      <li class="navbar-item" (click)="toProjects()"></li>
      <li class="navbar-item" (click)="toProjects()"></li>
      <li class="navbar-item" (click)="toProjects()"></li>
      <li class="navbar-item" (click)="toProjects()"></li>
      <li class="navbar-item" (click)="toProjects()"></li>
    </ul>
  </nav>
  <main class="home-content">
      <h1 class="title-font title">FULLSTACK DEVELOPER</h1>
      <div class="data">
        <div class="img-wrapper">
          <img src="../../../assets/adalovelace.jpg" alt="">
        </div>
        <div class="personal-data">
          <div class="personal-data-item">MACARENA QUIVEN GIACOPAZZI</div>
          <div class="personal-data-item">macarenaquiven&#64;gmail.com</div>
          <div class="personal-data-item">+54 9 1127957486</div>
        </div>
      </div>
  </main>
</div>
